p {
    padding: 0;
    margin: 0;
}

.container {
    border: 3px solid #808080;
    display: flex;
    height: 100%;
    margin: 0;
    width: 100%;
}

.content {
    min-height: calc(100vh - 60px);
}

.footer {
    height: 60px;
}

.dialogues {
    background-color: #343b80;
    width: 25%;
    color: #fff;
}

.search-block {
    border-bottom: 1px solid #292f66;
}

.search {
    background: #484e8c url(img/search.png) no-repeat scroll 7px 7px;
    border: #484e8c;
    font-size: 16px;
    padding: 15px;
    margin: 15px;
    box-sizing: border-box;
    width: 92%;
    text-indent: 30px;
    color: #fff;
}

.dialogue-item {
    align-items: flex-start;
    display: flex;
    padding: 8px 0;
}

.dialogue-item:hover {
    background-color: #292f66;
}

.about-dialogue {
    width: 65%;
}

.photo {
    border-radius: 100px;
    margin: 0 15px 15px;
    background-color: #292f66;
}

.dialogue-name-date {
    display: flex;
    justify-content: space-between;
}

.dialogue-short-text {
    padding-top: 10px;
}

.new-dialogue {
    border-top: 1px solid #292f66;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.phone {
    display: flex;
    align-items: center;
}

.symbol {
    color: #fff;
}

.messages {
    width: 75%;
}

.dialogue-name-block {
    display: flex;
    padding: 24px;
    border-bottom: 1px inset #c1c1c1;
}

.dialogue-name {
    width: 80%;
    font-size: 18px;
}

.dialogue-control {
    width: 20%;
    display: flex;
    justify-content: space-around;
}

.list-of-messages {
    max-height: 671px;
    overflow-y: scroll;
    width: 100%;
}

.message-item {
    display: flex;
    align-items: flex-start;
    padding: 14px 7px;
    font-size: 16px;
}

.message-name-date {
    display: flex;
    justify-content: space-between;
}

.message-info {
    width: 87%;
}

.date,
.dialogue-short-text {
    color: #808080;
}

.message-text {
    width: 87%;
    padding-top: 10px;
}

.new-message {
    border-top: 1px solid #808080;
    display: flex;
}

.new-message-attach {
    width: 8%;
    padding-top: 13px;
    text-align: right;
    padding-right: 5px;
}

.new-message-enter {
    background: url(img/smile.png) no-repeat scroll 98% 50%;
    width: 85%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    margin: 9px;
}